<ion-header>
  <ion-toolbar>
    <ion-title>Page d'erreur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- slide refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Serveur en maintenance
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Le serveur est actuellement en maintenance, merci de réessayer plus tard
    </ion-card-content>
    <ion-card-content>
      En cas de problème, n'hésitez pas à contacter Nicolas Barrat,
      <a href='tel:07.81.70.66.63' title='Appeler Nicolas' target='_blank'>07.81.70.66.63</a>,
      <a href='https://m.me/nicolegrimpeur' title='Lien vers le compte messenger de Nicolas' target='_blank'>Messenger</a>
    </ion-card-content>
  </ion-card>
</ion-content>
