<ion-header>
  <ion-toolbar>
    <!-- bouton de retour en arrière -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>

    <ion-title>{{infos.name !== undefined ? 'Résidence ' + infos.name : 'All'}}</ion-title>

    <ion-button slot="end" style="margin-right: 2vw">
      Enregistrer
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- slide refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!--  <ion-item>-->
  <!--    <ion-label>Choisissez l'information à modifier</ion-label>-->
  <!--    <ion-select interface="popover" value=" " (ionChange)="eventChange($event)">-->
  <!--      <ion-select-option value=" "></ion-select-option>-->
  <!--      <ion-select-option value="name">Nom de la résidence</ion-select-option>-->
  <!--      <ion-select-option value="news">Nouveautés</ion-select-option>-->
  <!--      <ion-select-option value="liens">Zone d'information 1</ion-select-option>-->
  <!--      <ion-select-option value="infos">Zone d'information 2</ion-select-option>-->
  <!--      <ion-select-option value="colonnesInfos">Colonnes d'informations</ion-select-option>-->
  <!--      <ion-select-option value="bullesLien">Bulles liens</ion-select-option>-->
  <!--    </ion-select>-->
  <!--  </ion-item>-->

  <!--  <br>-->


  <!--  <div *ngIf="currentValueSelect === 'liens' || currentValueSelect === 'infos'">-->
  <!--    <ion-title>{{infos['name' + currentValueSelect.slice(0, 1).toUpperCase() + currentValueSelect.slice(1, currentValueSelect.length)]}}</ion-title>-->

  <!--    <ion-grid>-->
  <!--      <ion-row>-->
  <!--        &lt;!&ndash; ajout des barres en fonction du json &ndash;&gt;-->
  <!--        <ion-col *ngFor="let info of infos[currentValueSelect]">-->
  <!--          <ion-button expand="block" color="medium" fill="solid"-->
  <!--                      (click)="clickEvent(info, currentValueSelect)"> {{ info.id }} </ion-button>-->
  <!--        </ion-col>-->
  <!--        <ion-col>-->
  <!--          <ion-button expand="block" color="medium" fill="outline" (click)="ajoutTheme(currentValueSelect)"> +-->
  <!--          </ion-button>-->
  <!--        </ion-col>-->
  <!--      </ion-row>-->
  <!--    </ion-grid>-->
  <!--  </div>-->

  <!--  <div #divElement>-->
  <!--    <ion-item *ngFor="let modif of modifications">-->
  <!--      <ion-textarea spellcheck="true" value="{{modif}}"></ion-textarea>-->
  <!--    </ion-item>-->
  <!--  </div>-->

  <!--  <br>-->

  <!--  <ion-button *ngIf="modifications.length !== 0" color="medium" fill="solid" (click)="ajoutLigneModif()"> Ajouter une-->
  <!--    ligne-->
  <!--  </ion-button>-->
  <!--  <ion-button *ngIf="modifications.length !== 0" (click)="enregistrer()">Enregistrer</ion-button>-->

  <ion-card>
    <ion-card-content>
      Si vous souhaitez créer un lien clickable, clickez ici
    </ion-card-content>
  </ion-card>

  <ion-title>Nom de la résidence</ion-title>
  <ion-item>
    <ion-textarea class="petit" spellcheck="true" value="{{infos.name}}"></ion-textarea>
  </ion-item>

  <br>

  <ion-title>Nouveautés</ion-title>
  <ion-item *ngFor="let news of infos.news">
    <ion-textarea class="petit" spellcheck="true" value="{{news}}"></ion-textarea>
  </ion-item>

  <br><br>

  <ion-title>Informations</ion-title>
  <div *ngFor="let infosOrLiens of ['liens', 'infos']">
    <ion-item>
      <ion-textarea class="petit" spellcheck="true" value="{{infos['name' + infosOrLiens.slice(0, 1).toUpperCase() + infosOrLiens.slice(1, infosOrLiens.length)]}}"></ion-textarea>
    </ion-item>

    <ion-grid>
      <ion-row>
        <!-- ajout des barres en fonction du json -->
        <ion-col *ngFor="let info of infos[infosOrLiens]">
          <ion-button expand="block" color="medium" fill="solid"> {{ info.id }} </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="medium" fill="outline"> + </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <br><br>

  <ion-title>Colonnes d'infos</ion-title>
  <div *ngFor="let col of infos.colInfo">
    <ion-item *ngFor="let idCol of ['title', 'info1', 'info2']">
      <ion-textarea class="petit" spellcheck="true" value="{{col[idCol]}}"></ion-textarea>
    </ion-item>
    <br>
  </div>

  <br>

  <ion-title>Bulles liens</ion-title>
  <div *ngFor="let bulle of infos.bullesLien">
    <ion-item>
      <ion-label>Titre : </ion-label>
      <ion-textarea class="petit" spellcheck="true" value="{{bulle.title}}"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Lien : </ion-label>
      <ion-textarea class="petit" spellcheck="true" value="{{bulle.href}}"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Nom du logo (infos <a title="Lien vers le site de logos ionic" href="https://ionic.io/ionicons" target="_blank">ici</a>) : </ion-label>
      <ion-textarea class="petit" spellcheck="true" value="{{bulle.logo}}"></ion-textarea>
    </ion-item>
    <br>
  </div>
</ion-content>
