ion-item {
  border-bottom: grey solid 1px;
  border-radius: 10px;
}

.petit {
  @media (min-width: 768px) {
    height: 6vh;
  }
}

ion-card {
  margin-bottom: 2vh;
}

.pointer {
  pointer-events:all!important;
}

ion-segment {
  //width: 20vw;
  //margin-left: 30vw;
  margin-inside: 0;
}
