<ion-header>
  <ion-toolbar>
    <!-- bouton de retour en arrière -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>

    <ion-title>{{infos.name !== undefined ? 'Résidence ' + infos.name : 'All'}}</ion-title>

    <ion-button slot="end" style="margin-right: 2vw" color="medium" (click)="ionViewWillEnter()">
      Annuler
    </ion-button>
    <ion-button slot="end" style="margin-right: 2vw" (click)="enregistrer()">
      Enregistrer
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- slide refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <!--  <br>-->


  <!--  <div *ngIf="currentValueSelect === 'liens' || currentValueSelect === 'infos'">-->
  <!--    <ion-title>{{infos['name' + currentValueSelect.slice(0, 1).toUpperCase() + currentValueSelect.slice(1, currentValueSelect.length)]}}</ion-title>-->

  <!--    <ion-grid>-->
  <!--      <ion-row>-->
  <!--        &lt;!&ndash; ajout des barres en fonction du json &ndash;&gt;-->
  <!--        <ion-col *ngFor="let info of infos[currentValueSelect]">-->
  <!--          <ion-button expand="block" color="medium" fill="solid"-->
  <!--                      (click)="clickEvent(info, currentValueSelect)"> {{ info.id }} </ion-button>-->
  <!--        </ion-col>-->
  <!--        <ion-col>-->
  <!--          <ion-button expand="block" color="medium" fill="outline" (click)="ajoutTheme(currentValueSelect)"> +-->
  <!--          </ion-button>-->
  <!--        </ion-col>-->
  <!--      </ion-row>-->
  <!--    </ion-grid>-->
  <!--  </div>-->

  <!--  <div #divElement>-->
  <!--    <ion-item *ngFor="let modif of modifications">-->
  <!--      <ion-textarea spellcheck="true" value="{{modif}}"></ion-textarea>-->
  <!--    </ion-item>-->
  <!--  </div>-->

  <!--  <br>-->

  <!--  <ion-button *ngIf="modifications.length !== 0" color="medium" fill="solid" (click)="ajoutLigneModif()"> Ajouter une-->
  <!--    ligne-->
  <!--  </ion-button>-->
  <!--  <ion-button *ngIf="modifications.length !== 0" (click)="enregistrer()">Enregistrer</ion-button>-->


  <ion-card>
    <ion-card-content>
      Si vous souhaitez créer un lien clickable, cliquez ici
    </ion-card-content>
  </ion-card>

  <ion-item style="margin: 0 3vw">
    <ion-label>Choisissez l'information à modifier</ion-label>
    <ion-select #ionSelect interface="popover" value="">
      <ion-select-option value=""></ion-select-option>
      <ion-select-option *ngIf="infos.name !== undefined" value="name">Nom de la résidence</ion-select-option>
      <ion-select-option value="news">Nouveautés</ion-select-option>
      <ion-select-option value="infos">Zone d'informations</ion-select-option>
      <ion-select-option value="colonnesInfos">Colonnes d'informations</ion-select-option>
      <ion-select-option value="bullesLien">Bulles liens</ion-select-option>
    </ion-select>
  </ion-item>

  <!--  <ion-card>-->
  <ion-card *ngIf="infos.name !== undefined && (ionSelect.value === 'name' || ionSelect.value === '')">
    <ion-card-header>
      <ion-card-title>
        Nom de la résidence
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-textarea class="petit" spellcheck="true" value="{{infos.name}}"
                      (ionChange)="ionChange($event, 'name')"></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>


  <!--  <ion-card>-->
  <ion-card *ngIf="ionSelect.value === 'news' || ionSelect.value === ''">
    <ion-card-header>
      <ion-card-title>
        Nouveautés
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let news of infos.news; let ind = index">
        <ion-textarea class="petit" spellcheck="true" value="{{news}}"
                      (ionChange)="ionChange($event, 'news', ind)"></ion-textarea>
      </ion-item>
    </ion-card-content>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="medium" (click)="addLineNews()">
              <ion-icon slot="start" name="add-circle-outline"></ion-icon>
              Ajouter une ligne
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" color="medium" (click)="removeLine('news')">
              <ion-icon slot="start" name="remove-circle-outline"></ion-icon>
              Supprimer la dernière ligne
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <!--  <ion-card>-->
  <ion-card *ngIf="ionSelect.value === 'infos' || ionSelect.value === ''">
    <ion-card-header>
      <ion-card-title>
        Informations
      </ion-card-title>
    </ion-card-header>
    <ion-card-content *ngFor="let infosOrLiens of ['liens', 'infos']">
      <ion-item>
        <ion-textarea class="petit" spellcheck="true"
                      value="{{infos['name' + infosOrLiens.slice(0, 1).toUpperCase() + infosOrLiens.slice(1, infosOrLiens.length)]}}"
                      (ionChange)="ionChange($event, 'name' + infosOrLiens.slice(0, 1).toUpperCase() + infosOrLiens.slice(1, infosOrLiens.length))"></ion-textarea>
      </ion-item>

      <ion-grid>
        <ion-row>
          <!-- ajout des barres en fonction du json -->
          <ion-col *ngFor="let info of infos[infosOrLiens]">
            <ion-button expand="block" color="medium" fill="solid" (click)="clickEvent(info.id, infosOrLiens)"> {{ info.id }} </ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" color="medium" fill="outline">+</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

    <ion-card-content *ngIf="currentModif.id !== ''">
      <ion-item *ngFor="let info of infos[currentModif.infosOrLiens][currentModif.id].content; let ind = index">
        <ion-textarea spellcheck="true" value="{{info}}"
                      (ionChange)="ionChange($event, currentModif.infosOrLiens, currentModif.id, 'content', ind)"></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>


  <!--  <ion-card>-->
  <ion-card *ngIf="ionSelect.value === 'colonnesInfos' || ionSelect.value === ''">
    <ion-card-header>
      <ion-card-title>
        Colonnes d'infos
      </ion-card-title>
    </ion-card-header>
    <ion-card-content *ngFor="let col of infos.colInfo; let ind = index">
      <ion-item *ngFor="let idCol of ['title', 'info1', 'info2']">
        <ion-textarea class="petit" spellcheck="true" value="{{col[idCol]}}"
                      (ionChange)="ionChange($event, 'colInfo', ind, idCol)"></ion-textarea>
      </ion-item>
    </ion-card-content>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="medium" (click)="addLineColInfo()">
              <ion-icon slot="start" name="add-circle-outline"></ion-icon>
              Ajouter une colonne d'informations
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" color="medium" (click)="removeLine('colInfo')">
              <ion-icon slot="start" name="remove-circle-outline"></ion-icon>
              Supprimer la dernière colonne d'informations
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <!--  <ion-card>-->
  <ion-card *ngIf="ionSelect.value === 'bullesLien' || ionSelect.value === ''">
    <ion-card-header>
      <ion-card-title>
        Bulles liens
      </ion-card-title>
    </ion-card-header>
    <ion-card-content *ngFor="let bulle of infos.bullesLien; let ind = index">
      <ion-item>
        <ion-label>Titre :</ion-label>
        <ion-textarea class="petit" spellcheck="true" value="{{bulle.title}}"
                      (ionChange)="ionChange($event, 'bullesLien', ind, 'title')"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Lien :</ion-label>
        <ion-textarea class="petit" spellcheck="true" value="{{bulle.href}}"
                      (ionChange)="ionChange($event, 'bullesLien', ind, 'href')"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Nom du logo (infos <a title="Lien vers le site de logos ionic" href="https://ionic.io/ionicons"
                                         target="_blank">ici</a>) :
        </ion-label>
        <ion-textarea class="petit" spellcheck="true" value="{{bulle.logo}}"
                      (ionChange)="ionChange($event, 'bullesLien', ind, 'logo')"></ion-textarea>
      </ion-item>
    </ion-card-content>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="medium" (click)="addLineBulles()">
              <ion-icon slot="start" name="add-circle-outline"></ion-icon>
              Ajouter une bulle
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" color="medium" (click)="removeLine('bullesLien')">
              <ion-icon slot="start" name="remove-circle-outline"></ion-icon>
              Supprimer la dernière bulle
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
