<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Choisissez votre résidence
    </ion-title>
    <ion-button *ngIf="!mobile" style="margin: 0 2vmin" slot="end" (click)="verrouillage()" color="medium">Verrouiller</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- slide refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Choisis ta résidence</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- bouton du All -->
  <ion-button expand="block" color="medium" (click)="clickEvent('All')">All</ion-button>

  <!-- liste des résidences -->
  <ion-button *ngFor="let residence of liste.residence" expand="block" color="medium"
              (click)="clickEvent(residence.id)">{{residence.name}}</ion-button>

  <!-- bouton pour ajouter et supprimer une résidence -->
  <ion-grid class="lessTop">
    <ion-row>
      <ion-col class="lessTop">
        <ion-button expand="block" color="medium" fill="outline" (click)="addResidence()" class="lessTop">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="lessTop">
        <ion-button expand="block" color="medium" fill="outline" (click)="removeResidence()" class="lessTop">
          <ion-icon name="remove"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button *ngIf="mobile" (click)="verrouillage()" color="medium" expand="block">Verrouiller</ion-button>
</ion-content>
